html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh !important;
  background-color: #f7f7f7 !important;
}

#root,
.App {
  height: 100%;
}

.auth-container {
  height: 100%;
}

.auth-upload {
  height: 100%;
}

.text-primary {
  color: rgb(62, 121, 247) !important;
}

.auth-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  background: url(../public//img/bg-students.jpg) center/cover no-repeat;
}

@media screen and (max-width: 576px) {
  .auth-upload {
    height: inherit;
  }
}

.auth-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: inherit;
}

.dashboard {
  min-height: 100vh;
  height: 100%;
}

.dashboard .ant-layout {
  height: 100%;
}

.dashboard .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.dashboard .trigger:hover {
  color: #1890ff;
}

.dashboard .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.dashboard .site-layout .site-layout-background {
  background: #fff;
}

.answer {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.answer__img {
  display: flex;
  width: 100%;
  align-items: center;
}

.answer__img input {
}

.answer__img .ant-upload-select-picture-card {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
}

.answer__img .ant-upload-list-picture-card-container {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
}

.answer__img .ant-upload-list-item {
  padding: 1px !important;
}

.answer__img .ant-upload-list-item-actions a {
  display: none;
}

.answer__img .ant-upload-picture-card-wrapper {
  width: auto;
}

.answer > span:first-child {
  margin-right: 1rem;
}

.answer .ant-tag {
  margin-right: 0;
}

.question__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000000d9;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: #d9d9d9;
  border-radius: 2px;
}

.question__item.question__item--exist {
  background: #52c41a;
  color: #fff;
  border: #52c41a;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  cursor: pointer;
}

.question__item.question__item--exist:hover {
  color: #fff;
  background-color: #73d13d;
  border-color: #73d13d;
}

.question__item.question__item.question__item--exist.question__item.question__item--active {
  color: #fff;
  background-color: #237804;
  border-color: #237804;
}

.question__item.question__item--active {
  cursor: pointer;
  color: #237804;
  border-color: #237804;
}

.question__item.question__item--new {
  cursor: pointer;
}

.question__item.question__item--new:hover {
  color: #237804;
  border-color: #237804;
}

.create-form__button {
  margin: 1rem 0;
}

.test__contain {
  max-width: 800px;
  margin: 0 auto;
}

.test .ant-radio-button-wrapper {
  display: flex;
  height: 50px;
  width: 100%;
  border-radius: 50px !important;
  background: #fff !important;
  border: none !important;
  color: #858584;
}

.test .ant-radio-button-wrapper-checked {
  background-color: #40a9ff !important;
  color: #fff !important;
}

.test .ant-radio-button-wrapper:hover {
  background-color: #40a9ff !important;
  color: #fff !important;
}

.test .ant-radio-button-wrapper span:last-child {
  width: 100%;
  display: flex;
  align-items: center;
}

.test .ant-radio-group {
  width: 100%;
}

.test .ant-space-vertical {
  width: 100%;
}

.test .test__answer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #40a9ff;
  border-radius: 50%;
  margin-right: 1rem;
}

.test .ant-radio-button-wrapper-checked .test__answer {
  border-color: #fff;
}

.test .ant-radio-button-wrapper:hover .test__answer {
  border-color: #fff;
}

.test .ant-layout-header {
  background-color: #fff !important;
}

.test p {
  margin: 0;
}

.test .test__question-count,
.test .test__time {
  text-transform: uppercase;
  font-weight: 500;
  color: #c8c8ca;
  letter-spacing: 1px;
}

.question__priview-header {
  display: flex;
  align-items: center;
}

.question__preview-images {
  display: flex;
  align-items: center;
}

.question__preview-images .ant-image {
  margin-right: 1rem;
}

.question__preview-images .ant-image:last-child {
  margin-right: 0;
}

.question__preview-answer {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0a8;
  padding: 0.5rem;
  min-height: 68px;
  margin-bottom: 1px;
}

.question__preview-answer-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.question__preview-card {
  margin-bottom: 1rem !important;
}

.question__preview-card .ant-card-head {
  background-color: #1890ff0f;
}

.question__preview-card img {
  object-fit: cover;
}

.question__preview-pagination {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #fff;
  /* width: 100%; */
  padding: 1rem 0.5rem;
  /* border-top: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px -2px 20px rgb(0 0 0 / 10%);
}

.test__intro {
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-tabs-tab-btn .question__solved {
  color: #fa8c16;
}
